<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--

create table t_film (
  id  bigint  unsigned not null primary  key auto_increment  comment '主键',

  film_id varchar(32) not null default '' comment '唯一标识',

  name varchar(40) not null default  ''  comment '电视名称',

  director varchar(30) not null default  ''  comment '导演',

  player varchar(20) not null default  '' comment '主演',

  type varchar(50) not null default ''  comment '电影类型',

  status tinyint  not null default 1  comment '电影状态 1 表示 正在热映 2 ，即将上映'

  country varchar(50) not null default '' comment '城市',

  length  int unsigned not null  comment '电影时长',

  summary varchar(200) not null comment '电影摘要',

  image_path  varchar(200) not null default  '' comment '海报地址',
)default charset=utf-8

-->
<mapper namespace="com.duingtao.movie.mapper.FilmMapper">


    <resultMap id="filmColumns" type="film">
        <id property="id" column="id"/>
        <result property="filmId" column="film_id"/>
        <result property="name" column="name"/>
        <result property="country" column="country"/>
        <result property="director" column="director"/>
        <result property="player" column="player"/>
        <result property="status" column="status"/>
        <result property="filmLength" column="length"/>
        <result property="type" column="type"/>
        <result property="summary" column="summary"/>
        <result property="image_path" column="imagePath"/>
    </resultMap>

    <!--查询所有的影片-->
    <select id="queryFilmsList" resultMap="filmColumns">
        SELECT id,
               film_id,
               name,
               director,
               player,
               type,
               status,
               country,
               length,
               summary,
               image_path
        FROM t_film;
    </select>


</mapper>